<h1><%= @library.name%>'s Books:</h1>

<% @library.books.each do |book| %>
  <section id="book-<%= book.id %>">
    <h2><%= book.name %></h2>
    <p>Number of Pages: <%= book.pages %></p>
    <p>Available: <%= book.available %></p>
  </section>
<% end %>

<%= link_to "Create Book", "/libraries/#{@library.id}/books/new" %>