<h1> All Libraries </h1>

<ul>
  <section id = "ordered-libraries" >
    <p><% @libraries.each do |library| %>
      <section id = "library-<%= library.id %>">
      <li>
      <h3><%= link_to "#{library.name}", "/libraries/#{library.id}" %></h3>
      Created: <%= library.created_at.strftime("%A, %B %-d, %Y") %></li>
      <%= link_to "Edit Library", "/libraries/#{library.id}/edit"%>
      <%= link_to "Delete Library", "/libraries/#{library.id}", method: :delete %>
      </section>
      <% end %>
    </p>
  </section>
</ul>

<h3><%= link_to "New Library", '/libraries/new' %></h3>