<% if @member != nil %>

<h1> <%=@member.name%>'s Off-road Vehicles list </h1>
<%= link_to "Add a new vehicle", "/members/#{@member.id}/new_orv" %>

<%= form_with url: "/members/#{@member.id}/offroad_vehicles", method: :get, local: true do |form| %>
  <%= form.submit "find all vehicles with a tire size grater then:" %>
  <%= form.number_field :select_tire_size %>
<% end %>

<% else %>
<h1> Off-road Vehicles list </h1>
<% end %>

<% @orv.each do |vehicle| %>
  <h2><%= link_to "#{vehicle.name}", "/offroad_vehicles/#{vehicle.id}" %></h2>
  <h3><%= vehicle.make%>, <%= vehicle.model%></h3>
  <h3>Member ID#<%= vehicle.member_id%></h3>
  <h3>Tire size <%= vehicle.tire_size%> inches</h3>
  <h3>Passed safety inspection = <%= vehicle.passed_safety_inspection %></h3>
<% end %>
