<%= form_with url: "/offroad_vehicles", method: :post, local: true do |form| %>
  <%= form.hidden_field :member_id, value: params[:id] %>
  <h3><%= form.label :name %>
  <%= form.text_field :name %></h3>
  <h3><%= form.label :make %>
  <%= form.text_field :make %></h3>
  <h3><%= form.label :model %>
  <%= form.text_field :model %></h3>
  <h3><%= form.label :tire_size %>
  <%= form.number_field :tire_size %></h3>
  <h3><%= form.label :passed_safety_inspection %>
  <%= form.check_box :passed_safety_inspection %></h3>
  <%= form.submit 'Update Vehicle' %>
<% end %>
