<h2><%= @member.name %></h2>
<h4> Member ID = <%= @member.id %></h4>
<h4> Premium member = <%= @member.premium_member %></h4>
<h4> Skill level = <%= @member.skill_level %></h4>
<h4> Number of off-road vehicles registered = <%= @orv_count %></h4>
<h4> Created at = <%= @member.created_at %></h4>
<h4> Updated at = <%= @member.updated_at %></h4>
<h4><%= link_to "Update Member", "/members/#{@member.id}/edit" %> | <%= link_to "Delete Member", "/members/#{@member.id}", method: :delete %> | <%= link_to "Vehicle List", "/members/#{@member.id}/offroad_vehicles"%></h4>
